<!DOCTYPE html>
<html lang="en">
  <head>
    <title>keyboard-event</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="./lib/vue.js"></script>
  </head>
  <body>
    <div id="app">
      <div>
        <input type="text" v-model="input" @keyup.caps-lock="handleKeyUp">
        <input type="text" v-model="input" @keydown.ctrl.y="handleKeyUp">
      </div>
      <div>
        <p>{{input}}</p>
      </div>
    </div>
  </body>
  <script src="./js/keyboard.event.js"></script>
</html>
